<h1>Orders list</h1>
<div>
	
<button class="add-button">
<%= link_to("Add order",{action:"new"}) %>
</button>
</div>
<br>

<div>
	<table>
		<thead>
			<tr>
				<th>Tracking number</th>
				<th>Order number</th>
				<th>Address</th>
				<th>Minutes shipment</th>
				<th>Status</th>
				<th>Vendor</th>
				
			</tr>
		</thead>
		<tbody>
		<% @orders.each do |order|  %>
			<tr>
				<td><%= order.tracking_number%></td>
				<td><%= order.order_number%></td>
				<td><%= order.address%></td>
				<td><%= order.time_min%></td>
				<% if order.message.eql? 'Normal' %>
				<td class="normal"><%= order.message%></td>
				<%end%>
				<% if order.message.eql? 'Not Normal' %>
				<td class="notdanger"><%= order.message%></td>
				<%end%>
				<% if order.message.eql? 'Very Late' %>
				<td class="danger"><%= order.message%></td>
				<%end%>
				<% if order.message.eql? 'Processing' %>
				<td ><%= order.message%></td>
				<%end%>
				<td><%= order.vendor.name%></td>
			</tr>
		<%end%>
		</tbody>
	</table>
</div>
<%= will_paginate @orders%>