<h1><%= name%></h1>
<%= form_for(@vendor) do |f| %>
<% @vendor.errors.full_messages.each do |message| %>
<div>* <%= message%></div>
<%end %>
<div class="form-style-6">

<div>
	<%= f.text_field :name, placeholder: "Name"%>
</div>
<div>
	<%= f.text_field :address, placeholder: "Address"%>
</div>
	<%= f.submit "Save"%>
<button>
	<%= link_to("Cancel",{action:"index"}) %>
</button> 
	
</div>


<%end%>
</div>